header {
    grid-area: h;
}

nav#menu-nav {
    grid-area: m;
}

main {
    grid-area: s;
}

aside#upcoming-events {
    grid-area: e;
}

footer {
    grid-area: f;
}

div.container {
    display: grid;
    grid-template-columns:
        200px 1fr 200px;
    grid-template-areas:
        "h h h"
        "m s e"
        "f f f";
        gap: 10px 20px;
        height: 100vh;
}

@media screen and (max-width: 768px) {
    div.container {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "h"
            "m"
            "s"
            "e"
            "f";
    }
}